<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Produit</title>

</head>
<body id="page-top"> 
    
     <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
<app-menu></app-menu>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
       <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Effectuée La Commande</h1>
          </div>

        </div>
        <div class="col">
            <div class="card shadow mb-4">
       

          <div class="card-body">
      
            <div class="form-group">
            <label for="name" id="name">Livreur : </label>

            <div class="ligne">
              <div class="ligne-item">
                  livREf
                  <select  #livREf [(ngModel)]="livreurId" class="form-control form-control-sm"   aria-label="Default select example"
                      name="id">
                      <option [value]="liv?.id" *ngFor="let liv of listLiv">
                        {{liv?.nom}}
                      </option>
                      <option value=0>
                        liste livreurs
                      </option>
                  </select>
              </div>
          </div>
          <br>



          <label for="name" id="name">Commande : </label>

          <div class="ligne">
            <div class="ligne-item">
            
                <select  #comREf [(ngModel)]="commandeId" class="form-control form-control-sm"  aria-label="Default select example"
                    name="id">
                    <option [value]="com?.id" *ngFor="let com of listCommande">
                      {{com?.client?.nom}} :commande numéro-> {{com?.id}}
                    </option>
                    <option value=0>
                      liste commande clients
                    </option>
                </select>
            </div>
        </div>







       
            <div [innerHtml]="message"></div>
            <button  type="submit"  class="btn btn-sm btn-primary mt-3"
            data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="add(livREf.value,comREf.value)">Ajouter</button>
        </div>
      
    </div>
    </div>
    </div>
      </div>
    <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Logout Modal-->
 

</body>
</html>